<mat-card>
  <mat-card-title color='primary'>Board</mat-card-title>
  <mat-card-subtitle color='accent' [style.opacity]='(backTracking.customizeSubject | async) ? 1 : 0'>Edit mode</mat-card-subtitle>

  <!-- SVG of the board -->
  <svg viewBox='0 0 70 70' preserveAspectRatio="xMinYMin meet">
    <!-- Rect background -->
    <svg:rect width=70 height=70></svg:rect>
    <!-- Use svg in assets for grid background for the board -->
    <svg:use xlink:href='assets/Grid.svg#svg8'></svg:use>

    <!-- Render each peg of matrix as an svg circle each -->
    <svg:g *ngFor='let row of matrix'>
      <svg:g *ngFor='let cell of row'>
        <svg:circle appPeg [editing]='backTracking.customizeSubject | async' [pegCell]='cell'></svg:circle>
      </svg:g>
    </svg:g>
  </svg>

</mat-card>
