:host {
  display: flex;
  flex-direction: column;
}

mat-card {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  svg {
    flex: 1;
    background: #69f0ae;
  }
}

.neon {
  fill: #7b1fa2;
  stroke: #7b1fa2;
}
